{% extends 'userbase.html' %}
{% block content %}
<h1>EXPENSE..</h1>
<form method="POST">
    {% csrf_token %}
    <table class="center">
        <tr>
            <td>EXPENSE TYPE</td>
            <td><select name="etype">
                {% for d in etype %}
                <option value="{{d.0}}">{{d.2}}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>SOURSE OF EXPENSE</td>
            <td><input type="text" name="expense"/></td>
        </tr>
        <tr>
            <td>AMOUNT</td>
            <td><input type="number" name="amt"/></td>
        </tr>
        <tr>
            <td>DATE</td>
            <td><input type="date" name="dt"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="SAVE"/>
            </td>
        </tr>
    </table>
    <table border="1">
        <tr>
            <th>EXPENSE TYPE</th>
            <th>EXPENSE</th>
            <th>AMOUNT</th>
            <th>DATE</th>
        </tr>
        {% for d in expense %}
        <td>{{d.6}}</td>
            <td>{{d.1}}</td>
                <td>{{d.2}}</td>
                    <td>{{d.3}}</td>
        {% endfor %}
    </table>
</form>
<script>
    var msg="{{msg}}"
   if (msg!="")
   alert("{{msg}}")

</script>
{% endblock%}