{% extends 'userbase.html' %}
{% block content %}
<h1>INCOME..</h1>
<form method="POST">
    {% csrf_token %}
    <table class="center">
        <tr>
            <td>INCOME TYPE</td>
            <td><select name="itype">
                {% for d in itype %}
                <option value="{{d.0}}">{{d.2}}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>SOURCE OF INCOME</td>
            <td><input type="text" name="income"/></td>
        </tr>
        <tr>
            <td>AMOUNT</td>
            <td><input type="number" name="amt"/></td>
        </tr>
        <tr>
            <td>DATE</td>
            <td><input type="date" id="date" onload="GetDateTime()" name="dt"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="SAVE"/>
            </td>
        </tr>
    </table>
    <table border="1">
        <tr>
            <th>INCOME TYPE</th>
            <th>INCOME</th>
            <th>AMOUNT</th>
            <th>DATE</th>
        </tr>
        {% for d in income %}
        <tr>
        <td>{{d.6}}</td>
            <td>{{d.1}}</td>
                <td>{{d.2}}</td>
                    <td>{{d.3}}</td>
                    </tr>
        {% endfor %}
    </table>
</form>
<script>
    var msg="{{msg}}"
   if (msg!="")
   alert("{{msg}}")


   function getDate() {
   var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

  if(dd<10) {
      dd = '0'+dd
  } 

  if(mm<10) {
      mm = '0'+mm
  } 

  today = dd + '-' + mm + '-' + yyyy;
  console.log(today);
  document.getElementById("date").defaultValue = today;
}


window.onload = function() {
  getDate();
};
</script>
{% endblock%}